.fullScreenContainer {
  width: 100vw;
  height: 100svh; /* Use svh for actual visible screen height on mobile */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* For absolute positioning of children */
  flex-direction: column; /* Stack content vertically */
}

/* Centered div inside the full-screen container */
.centeredDiv {
  text-align: left;
  max-width: 80%;
  display: flex;
  flex-direction: column; /* Ensure quote is above the buttons by default */
}

/* Styling for the clickable text options */
.clickableTexts {
  display: flex;
  justify-content: left;
  margin-top: 20px; /* Add space between the quote and clickable options */
}

.clickableTexts span {
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  margin-right: 20px;
  position: relative;
  line-height: 1;
  transition: color 0.3s ease-in-out, font-weight 0.5s ease-in-out;
}

.clickableTexts span:hover {
  color: #ecf0f1;
}

.clickableTexts .active {
  font-weight: 700;
  color: #fff;
}

/* Underline animation */
.clickableTexts span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.clickableTexts span.active::after {
  transform: scaleX(1);
}

/* Quote container */
.quoteContainer {
  font-size: 3.5vw;
  color: #fff;
  font-weight: bold;
  text-align: left;
  margin: 0;
  line-height: 1.2;
  padding: 0 0 45px 0;
  margin-top: 10px;
  overflow: hidden;
  min-height: 150px;

}

.quoteTextAnimate {
  font-weight: lighter;
}

/* Scroll Pill */
/* Scroll Pill */
.scrollPill {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  /* Removed border and background color */
  border-radius: 50px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Arrow with Drop Shadow and Infinite Loop Animation */
/* Arrow with Drop Shadow and Infinite Loop Animation */
.arrowDown {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  animation: loopArrow 2s infinite ease-in-out;
  /* Apply a more subtle drop shadow directly around the arrow's shape */
  text-shadow: 0 0px 10px rgba(255, 255, 255, 0.5); /* Darker shadow closer to the arrow */
}

/* Looping Animation */
@keyframes loopArrow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/* Mobile Media Query */
@media (max-width: 768px) {
  .fullScreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh; /* Ensure full visible screen height on mobile */
    position: relative;
  }

  .centeredDiv {
    text-align: left;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .quoteContainer {
    font-size: 6vw;
    height: 120px; /* Adjust based on your content */
    text-align: left;
    max-width: 100%;
    height: auto; /* Auto height for dynamic content */
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0;
  }

  .clickableTexts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 1em;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    bottom: 20px;
    animation: fadeInButtons 1s ease-in-out 1s forwards;
    justify-content: center;
    z-index: 1;
  }

  .clickableTexts span {
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    color: #3498db;
    transition: color 0.3s ease-in-out;
  }

  .clickableTexts span.active {
    color: #3498db;
  }

  .clickableTexts span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #3498db;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}