:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

  --foreground-rgb: 255, 255, 255; /* Set the foreground to white for good contrast */
  --background-color: #3496d3; /* Set background color to the specific blue */

  --primary-glow: none;
  --secondary-glow: none;

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: none;

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
  scroll-behavior: smooth; /* Enables smooth scrolling */

}

/* Force light mode - disable system dark mode preferences */
html {
  color-scheme: light !important;
}

/* Global Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* HTML & Body */
html,
body {
  font-family: var(--font-sans);
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth; /* Enables smooth scrolling */
  color: rgb(var(--foreground-rgb)); /* White text for readability */
  background-color: var(--background-color); /* Use the blue background color globally */
}

#scroll-container {
  overflow: hidden;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* No Scrollbar */
html, body {
  scrollbar-width: none; /* For Firefox */
  scroll-behavior: smooth;

}

html::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.className {
margin: 0;
padding: 0px;}

/* Utility Classes */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.callout {
  background-color: rgb(var(--callout-rgb));
  border: 1px solid rgb(var(--callout-border-rgb));
  border-radius: var(--border-radius);
  padding: 1em;
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  body {
    display: none; /* Hide the content in landscape orientation on mobile */
  }

  .orientation-warning {
    display: flex; /* Show a warning message */
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #3496d3;
    font-size: 1.5rem;
    text-align: center;
    background-color: #f6f6f6; /* Light background for warning */
  }
}