.homeTopContainer {
  color: white;
  max-width: 80%;
  margin: 2em auto;
  text-align: left; /* Align text to the left */
}

.title {
  font-weight: bold;
  font-size: 4rem;
  margin-top: 1em;
  line-height: .9; /* Add this for tighter line spacing on mobile */
margin-bottom: .2em;
}

.bodyCopy {
  font-weight: normal;
  text-align: left; /* Ensure text is left-aligned */
}

.bodyCopy a {
  color: rgb(230, 173, 203);
  text-decoration: none;
}

.bodyCopy a:hover {
  text-decoration: underline;
}


.slider {
  width: 100px;
  margin-left: 10px;
  appearance: none;
  background: transparent;
  height: 1px;
  border: 1px solid white;
  outline: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
}

.divider {
  min-width: 1000px;        /* Span the full width of the parent container */
  height: 100px;        /* Set the height to 1px */
  background-color: white;  /* White color */
}

@media (min-width: 768px) {
  .sliderContainer {
    display: flex;
    align-items: center;
  }

  .title {
    font-weight: bold;
    font-size: 3rem; /* You can also adjust the font size for mobile if needed */
    padding-bottom: 10px;
  }
}