.carbonButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #428bca;
  padding: 3vh;
  border-radius: 8px;
  color: white;
}

.carbonText {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.carbonText a {
  text-decoration: none;
  color: white;
}

.websiteCarbon {
  text-decoration: none;
  margin: 0;
}

.carbonRating {
  text-align: center;
  margin: 0;
  font-weight: 700;
}

.carbonRating p {
  margin: 0;
}