/* app/components/LoadingScreen/LoadingScreen.module.css */

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-color: white; /* White background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000; /* Ensure it appears above other elements */
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}